<a href="https://colab.research.google.com/github/j-azeneth-reyes-mtz/Probabilidad/blob/main/Unidad1/practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Probabilidad y Estadística
## Unidad 1
## Práctica 3: Tablas de Frecuencia.
## Facilitador: José Gabriel Rodriguez Rivas.
## Alumna: Judith Azeneth Reyes Martínez.

In [1]:
#Basado en el LIBRO estadistica para la administración página 12
#creamos una lista  vacia para representar la edad de 100 personas
import random
edades = []
#Hacemos un ciclo para generar 100 numeros aleatorios que representen la edad de las personas
for i in range(100):
#generamos un numero aleatorio con la funcion randint y lo guardamos en la variable numero_aleatorio
  numero_aleatorio = random.randint(18, 70)
#Agregamos el numero aleatorio a la lista de  valores
  edades.append(numero_aleatorio)
print(edades)

[58, 60, 21, 31, 35, 30, 66, 42, 35, 19, 25, 51, 62, 45, 32, 40, 40, 27, 26, 38, 28, 40, 21, 31, 45, 23, 32, 26, 57, 60, 69, 61, 60, 30, 55, 30, 24, 65, 70, 24, 57, 57, 30, 30, 18, 36, 70, 50, 37, 39, 28, 63, 57, 22, 66, 45, 48, 58, 54, 43, 18, 39, 61, 67, 33, 26, 70, 21, 35, 68, 18, 50, 35, 48, 49, 44, 21, 67, 25, 52, 33, 52, 46, 39, 57, 63, 54, 27, 24, 44, 36, 25, 56, 20, 41, 23, 37, 32, 22, 27]

In [2]:
import pandas as pd

In [ ]:
#crear un DataFrame de pandas con los numeros aleatorios
df = pd.DataFrame(edades, columns=['Edad'])
df.head()

   Edad
0    42
1    49
2    21
3    23
4    64

In [ ]:
#Calcular la tabla de distribucion de frecuencias
tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values(by='Edad')

#Imprimir la tabla de distribucion de frecuencias
print("Tabla de Distribucion de Frecuencias:")
tabla_frecuencias

Tabla de Distribucion de Frecuencias:

    Edad  Frecuencia
0     18           6
25    19           2
32    20           1
24    21           2
30    23           1
7     24           3
27    26           2
35    27           1
12    28           3
28    29           2
8     30           3
15    31           3
37    32           1
45    33           1
33    34           1
36    36           1
21    37           2
23    38           2
22    39           2
13    40           3
44    41           1
1     42           4
9     43           3
11    44           3
2     45           4
46    46           1
38    47           1
6     48           3
5     49           3
10    50           3
20    51           2
29    52           2
42    53           1
34    54           1
40    55           1
19    56           2
43    57           1
14    58           3
17    59           2
39    60           1
18    62           2
4     63           3
31    64           1
47    65           1
16    67           2
41    68           1
3     69           4
26    70           2

In [ ]:
tabla_frecuencias['Frec Relativa'] = tabla_frecuencias['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
0     18           6           0.06
25    19           2           0.02
32    20           1           0.01
24    21           2           0.02
30    23           1           0.01
7     24           3           0.03
27    26           2           0.02
35    27           1           0.01
12    28           3           0.03
28    29           2           0.02
8     30           3           0.03
15    31           3           0.03
37    32           1           0.01
45    33           1           0.01
33    34           1           0.01
36    36           1           0.01
21    37           2           0.02
23    38           2           0.02
22    39           2           0.02
13    40           3           0.03
44    41           1           0.01
1     42           4           0.04
9     43           3           0.03
11    44           3           0.03
2     45           4           0.04
46    46           1           0.01
38    47           1           0.01
6     48           3           0.03
5     49           3           0.03
10    50           3           0.03
20    51           2           0.02
29    52           2           0.02
42    53           1           0.01
34    54           1           0.01
40    55           1           0.01
19    56           2           0.02
43    57           1           0.01
14    58           3           0.03
17    59           2           0.02
39    60           1           0.01
18    62           2           0.02
4     63           3           0.03
31    64           1           0.01
47    65           1           0.01
16    67           2           0.02
41    68           1           0.01
3     69           4           0.04
26    70           2           0.02

In [ ]:
tabla_frecuencias['Frec Porcentual'] = tabla_frecuencias['Frecuencia'] / 100 * 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual
0     18           6            6.0              6.0
25    19           2            2.0              2.0
32    20           1            1.0              1.0
24    21           2            2.0              2.0
30    23           1            1.0              1.0
7     24           3            3.0              3.0
27    26           2            2.0              2.0
35    27           1            1.0              1.0
12    28           3            3.0              3.0
28    29           2            2.0              2.0
8     30           3            3.0              3.0
15    31           3            3.0              3.0
37    32           1            1.0              1.0
45    33           1            1.0              1.0
33    34           1            1.0              1.0
36    36           1            1.0              1.0
21    37           2            2.0              2.0
23    38           2            2.0              2.0
22    39           2            2.0              2.0
13    40           3            3.0              3.0
44    41           1            1.0              1.0
1     42           4            4.0              4.0
9     43           3            3.0              3.0
11    44           3            3.0              3.0
2     45           4            4.0              4.0
46    46           1            1.0              1.0
38    47           1            1.0              1.0
6     48           3            3.0              3.0
5     49           3            3.0              3.0
10    50           3            3.0              3.0
20    51           2            2.0              2.0
29    52           2            2.0              2.0
42    53           1            1.0              1.0
34    54           1            1.0              1.0
40    55           1            1.0              1.0
19    56           2            2.0              2.0
43    57           1            1.0              1.0
14    58           3            3.0              3.0
17    59           2            2.0              2.0
39    60           1            1.0              1.0
18    62           2            2.0              2.0
4     63           3            3.0              3.0
31    64           1            1.0              1.0
47    65           1            1.0              1.0
16    67           2            2.0              2.0
41    68           1            1.0              1.0
3     69           4            4.0              4.0
26    70           2            2.0              2.0

In [ ]:
tabla_frecuencias['Frec Acumulada'] = tabla_frecuencias['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec Porcentual  Frec Acumulada
0     18           6            6.0              6.0               6
25    19           2            2.0              2.0               8
32    20           1            1.0              1.0               9
24    21           2            2.0              2.0              11
30    23           1            1.0              1.0              12
7     24           3            3.0              3.0              15
27    26           2            2.0              2.0              17
35    27           1            1.0              1.0              18
12    28           3            3.0              3.0              21
28    29           2            2.0              2.0              23
8     30           3            3.0              3.0              26
15    31           3            3.0              3.0              29
37    32           1            1.0              1.0              30
45    33           1            1.0              1.0              31
33    34           1            1.0              1.0              32
36    36           1            1.0              1.0              33
21    37           2            2.0              2.0              35
23    38           2            2.0              2.0              37
22    39           2            2.0              2.0              39
13    40           3            3.0              3.0              42
44    41           1            1.0              1.0              43
1     42           4            4.0              4.0              47
9     43           3            3.0              3.0              50
11    44           3            3.0              3.0              53
2     45           4            4.0              4.0              57
46    46           1            1.0              1.0              58
38    47           1            1.0              1.0              59
6     48           3            3.0              3.0              62
5     49           3            3.0              3.0              65
10    50           3            3.0              3.0              68
20    51           2            2.0              2.0              70
29    52           2            2.0              2.0              72
42    53           1            1.0              1.0              73
34    54           1            1.0              1.0              74
40    55           1            1.0              1.0              75
19    56           2            2.0              2.0              77
43    57           1            1.0              1.0              78
14    58           3            3.0              3.0              81
17    59           2            2.0              2.0              83
39    60           1            1.0              1.0              84
18    62           2            2.0              2.0              86
4     63           3            3.0              3.0              89
31    64           1            1.0              1.0              90
47    65           1            1.0              1.0              91
16    67           2            2.0              2.0              93
41    68           1            1.0              1.0              94
3     69           4            4.0              4.0              98
26    70           2            2.0              2.0             100